h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    font-weight:lighter;
    margin-bottom: -30px !important;
}
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
    font-weight: bold;
}
h5{
  font-family:'Sacramento', cursive;
  font-size: 36px;
  
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
}

.customNav {
    position: fixed;
    width: 100%;
    background-color: black !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    text-align: right;
    font-family: 'Open Sans Condensed', sans-serif;

  }
  .navbar-brand img, .navbar-brand {
    padding-right: 15px;
    width: 65px;
    font-size: 28pt;
    font-family: 'Sacramento', cursive;
  }
  .nav-item {
    margin: 0px 15px;
  }
  .customNav a {
    color: white !important;
  }
  .navCTA {
    font-size: 15px;
    color:white !important;
    background-color:black !important;

  }

  .jumbotron {
    background-image: url("../Images/background-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(110vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: black;
    text-align: left;
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .profilecontainer{
    padding: 75px;
    width: 400px;
    float: right;
    padding-top: 150px;
}

.hireme{
    padding-left: 400px;
    margin: 20px
}
.btn-hire {
    font-size: 20px;
    color:white !important;
    background-color:black !important;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: right !important;
    margin-left:20px;
}
/* Cards */

h3 {
    text-align: center;
    font-size: 36pt;
    font-family: 'Sacramento', cursive;
    padding-top:70px;

  }
  .work  {
    padding: 0px 0px 30px 30px;
  }
  .cardContainer {
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .card {
    margin: 20px auto;
  }
  .card-body {
    width: 85%;
    height: fit-content;
    margin-left: 15px;
}

 .cardContainer a{
  font-size: 20px;
  color:white !important;
  background-color:black !important;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: right !important;
  margin:10px;
 } 

 .contact2{
   padding-top:150px;
 }
.quote{
  padding-top:150px;
  margin: 0px auto;
  padding:140px;
}
 .blockquote{
  background-color:black;
  font-size: 30px;
  color:white;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  justify-content: center !important;
  padding: 20px;
}

.card-img-overlay{
  margin-top: 50px;
}
.card-img-overlay p{
  color:black !important;
  text-align: center !important; 
  margin:50px;
  font-size: 20px;
}
.card-img-overlay h5{
  color:black !important;
  text-align: center !important; 
  font-size: 80px !important;
  padding-bottom:80px;
}


  .footer {
    margin: 0px auto;
    margin-top: 150px;
    line-height: 60px;
    color: white;
    background-color: black;
    width: 100% !important;
    height: 70px;

}
.logo2 {
    float: left;
    padding-left: 30px;
    font-size: 18pt;
    font-family: 'Sacramento', cursive;
    margin: 0px auto;
}

.logo2 a{
    margin: 0px auto;
    padding-left:30px;
}

.footer-right{
    float: right;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.footer-right a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
.btn-outline-hire1 {
  border-radius: 5px;
  font-size: 16px;
  background-color:white;
  cursor:pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left:40px;
  color:black;
  text-align: right;

}
